[Unit]
Description=Haven Daemon
After=network.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/usr/local/src/haven-legacy/build/release/bin/havend --rpc-bind-ip 127.0.0.1 --detach --restricted-rpc --prune-blockchain --block-notify '/bin/bash /home/haven/nodejs-pool/block_notify.sh'
Restart=always
User=havendaemon

[Install]
WantedBy=multi-user.target
